[main]
ssl.enabled = false
statelessSessionManager = org.apache.shiro.web.session.mgt.DefaultWebSessionManager

[users]
${USERS}

[roles]

[urls]
## Control functions open to anyone
/$/server  = anon
/$/ping    = anon
/$/metrics = anon

# Everything else needs basic auth
/**=authcBasic